/*Global CSS*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --featureRed: hsl(0, 78%, 62%);
  --featureCyan: hsl(180, 62%, 55%);
  --featureOrange: hsl(34, 97%, 64%);
  --featureBlue: hsl(212, 86%, 64%);
}

body {
  font-family: Poppins;
  text-align: center;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

h4 {
  font-weight: 600;
}

p {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.cards {
  display: flex;
  justify-content: center;
}

.left-cards {
  align-self: center;
}

.right-cards {
  align-self: center;
}
 
.card {
  text-align: left;
  width: 300px;
  height: 200px;
  border-radius: 7px;
  margin: 10px;
  filter: drop-shadow(0mm 4mm 4mm rgb(221, 221, 221));
  padding: 20px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 1.5rem;
}

.teambldr {
  border-top: 5px solid var(--featureRed);
}

.sprvsr {
  border-top: 5px solid var(--featureCyan);
}

.karma {
  border-top: 5px solid var(--featureOrange);
}

.calc {
  border-top: 5px solid var(--featureBlue);
}

.icon {
  height: 5.5rem;
  width: 5.5rem;
  align-self: flex-end;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}