/*Text Margin Reset*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/*Global CSS*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*Color Variables*/
:root {
  --featureRed: hsl(0, 78%, 62%);
  --featureCyan: hsl(180, 62%, 55%);
  --featureOrange: hsl(34, 97%, 64%);
  --featureBlue: hsl(212, 86%, 64%);
  --grayBlue: hsl(229, 6%, 66%);
  --darkBlue: hsl(234, 12%, 34%);
}

body {
  font-family: Poppins;
  text-align: center;
  box-sizing: border-box;
  background-color: #FAFAFA;
}


header {
  width: 525px;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  color: var(--darkBlue)
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color:var(--darkBlue);
  margin-bottom:10px;
}

h3 {
  font-weight: 400;
  color: var(--grayBlue);
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
  color: var(--darkBlue)
}

p {
  font-weight: 400;
  color: var(--grayBlue);
  font-size: 1.25rem;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.left-cards {
  align-self: center;
}

.right-cards {
  align-self: center;
}
 
.card {
  text-align: left;
  width: 300px;
  height: 200px;
  border-radius: 7px;
  margin: 10px;
  filter: drop-shadow(0mm 2mm 1mm rgb(221, 221, 221));
  padding: 15px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4 {
  font-size: 1.5rem;
}

.teambldr {
  border-top: 5px solid var(--featureRed);
}

.sprvsr {
  border-top: 5px solid var(--featureCyan);
}

.karma {
  border-top: 5px solid var(--featureOrange);
  margin-top: 20px;
}

.calc {
  border-top: 5px solid var(--featureBlue);
}

.icon {
  height: 5.5rem;
  width: 5.5rem;
  align-self: flex-end;
  margin-top: 30px;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/*Mobile Media Query...probably should have just used LESS for these.*/

@media(max-width: 375px) {

  header {
    width: 100%;
    margin: 0px;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 20%;
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 2%;
  }

  h3 {
    margin: 0px 20px;
  }

  .card-container {
    flex-direction: column;
    margin-top: 15%;
  }
  
  .middle-cards {
    align-self: center;
  }
}