/*Global CSS*/

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins;
  text-align: center;
}

h1 {
  
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 600;
}

p {
  font-weight: 400;
}
 
.card {
  text-align: left;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}